In [41]:
import requests
import json
import pandas as pd
import numpy as np
import googlemaps

In [40]:
#pip install googlemaps

Collecting googlemapsNote: you may need to restart the kernel to use updated packages.

  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\shirt\anaconda3\lib\site-packages (from googlemaps) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shirt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shirt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shirt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shirt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40717 sha256=89d66c00b6d357dba05420f1bc4ccc4a29973542fdce31b2a9d8fe7711657e06
  Stored in directory: c:\users\shirt\appdata\local\pip\cache\wheels\d9\5f\46\54a2bdb4bcb07d3faba4463d2884865705914cc72a7b8bb5f0
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [84]:
api_key = 'insert the api' 
gmaps = googlemaps.Client(key=api_key )

In [82]:
with open('dests.txt', 'r') as file:
    data = []
    for line in file:
        city = line.strip()
        result = gmaps.distance_matrix(city, 'tel aviv')['rows'][0]['elements'][0]
        distance = result['distance']['text']
        duration = result['duration']['text']
        geocode_result = gmaps.geocode(city)
        latitude = geocode_result[0]['geometry']['location']['lat']
        longitude = geocode_result[0]['geometry']['location']['lng']


        data.append((line.strip(), distance, duration, longitude, latitude))
dis_from_israel = pd.DataFrame(data, columns=['city', 'Distance', 'Duration', 'Longitude' , 'Lat'])

In [83]:
dis_from_israel

        city  Distance          Duration  Longitude        Lat
0   Istanbul  1,814 km  20 hours 54 mins  28.978359  41.008238
1  Amsterdam  4,536 km    2 days 0 hours   4.904139  52.367573
2   Valletta  3,795 km    2 days 3 hours  14.514100  35.899237
3      Basel  4,095 km    1 day 20 hours   7.588576  47.559599
4       Doha  2,167 km  22 hours 44 mins  51.531040  25.285447

In [93]:
dis_from_israel.sort_values('Distance',ascending=False)

        city  Distance          Duration  Longitude        Lat
1  Amsterdam  4,536 km    2 days 0 hours   4.904139  52.367573
3      Basel  4,095 km    1 day 20 hours   7.588576  47.559599
2   Valletta  3,795 km    2 days 3 hours  14.514100  35.899237
4       Doha  2,167 km  22 hours 44 mins  51.531040  25.285447
0   Istanbul  1,814 km  20 hours 54 mins  28.978359  41.008238

##3 cities furthest from Tel Aviv

In [94]:
dis_from_israel.sort_values('Distance',ascending=False).head(3)

        city  Distance        Duration  Longitude        Lat
1  Amsterdam  4,536 km  2 days 0 hours   4.904139  52.367573
3      Basel  4,095 km  1 day 20 hours   7.588576  47.559599
2   Valletta  3,795 km  2 days 3 hours  14.514100  35.899237